<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <form action="{{url_for('main')}}" method="post">
          Area <input type="text" name="area" id="area">
          Condominio <input type="text" name="condominio" id="condominio">
          Quartos <input type="text" name="quartos" id="quartos">
          Suites <input type="text" name="suites" id="suites">
          <button type="submit">Calcula preço</button>
      </form>
      <br>
  
      {% if preco_venda %}
        Preço de venda: {{ 'R$ {:,.2f}'.format(preco_venda) }}
      {% endif %}
        

    </div>
</body>
</html>